h2 {
  color: #232323;
  font-family: "NinoMtavruli", sans-serif;
  font-size: 26px;
  margin-bottom: 15px;
  max-width: 704px;
}

.line {
  max-width: 704px;
  width: 100%;
  height: 3px;
  background-color: #ebd96b;
  margin-bottom: 30px;
}

.payment-form-wrapper {
  width: 100%;
}

.input-wrappers {
  max-width: 704px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#name,
#surname,
#email,
#number,
#address,
#voucher,
#card-owner-name,
#card-number,
#exp-date,
#cvc {
  max-width: 704px;
  width: 100%;
  height: 50px;
  border: 0.5px solid #000000;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  font-family: "NinoMtavruli", sans-serif;
  padding: 0 25px;
  padding-top: 5px;
  color: #232323;
}

#voucher {
  margin-bottom: 25px;
}

.two-input-wrapper {
  max-width: 704px;
  display: flex;
  gap: 18px;
}

.pay-button {
  max-width: 704px;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.pay-button button {
  width: 252px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #232323;
  font-size: 20px;
  font-family: "NinoMtavruli", sans-serif;
  padding-top: 5px;
  cursor: pointer;
}

.pay-button button:hover {
  background-color: rgb(245, 244, 244);
}

/* responsive styles */

@media screen and (max-width: 1100px) {
  #name,
  #surname,
  #email,
  #number,
  #address,
  #voucher,
  #card-owner-name,
  #card-number,
  #exp-date,
  #cvc {
    height: 35px;
    font-size: 14px;
    padding: 0 10px;
    padding-top: 5px;
  }

  .pay-button button {
    width: 150px;
    height: 35px;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 18px !important;
  }
}
