.burger-menu-wrapper {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: rgba(35, 35, 35, 1);
  z-index: 1000;
  top: 0;
  border-right: 1px solid rgb(62, 62, 62);
  box-shadow: rgba(0, 0, 0, 0.12) 3px 0px 3px, rgba(0, 0, 0, 0.24) 2px 0px 2px;
  transition: transform 0.8s ease-in-out;
  overflow: hidden;
}

.burger-menu-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.burger-menu-wrapper::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.burger-menu-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 45);
}

.burger-menu-img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 25px;
}

.burger-menu-img-wrapper img {
  width: 140px;
  height: 35px;
}

.burger-menu-img-wrapper div svg {
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin-top: 2px;
}

.burger-menu-line {
  width: 100%;
  height: 1px;
  background-color: rgb(62, 62, 62);
}

.burger-menu-buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 25px;
}

.burger-menu-buttons-wrapper a {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 1s ease;
  border-color: rgb(62, 62, 62);
}

.burger-menu-buttons-wrapper a li {
  color: white;
  font-family: "NinoMtavruli", sans-serif;
  font-size: 18px;
  transform: translateY(-2px);
  transition: all 0.7s ease-in;
}

.burger-menu-buttons-wrapper a svg {
  transform: translateY(4px);
  margin-right: 10px;
}

.burger-menu-buttons-wrapper a:hover {
  border: 1px solid rgb(62, 62, 62);
  background-color: rgba(38, 38, 38, 1);
}

.burger-menu-buttons-wrapper a:hover li {
  color: #ffc107;
}

.burger-menu-buttons-wrapper a.active {
  border: 1px solid rgb(62, 62, 62);
  background-color: rgba(38, 38, 38, 1);
}

.burger-menu-buttons-wrapper a.active li {
  color: #ffc107;
}

.burger-menu-social-wrapper a li {
  transform: translateY(0);
}

.burger-menu-social-wrapper a svg {
  transform: translateY(2px);
}

@media screen and (max-height: 700px) {
  .burger-menu-wrapper {
    overflow-y: auto;
  }

  .burger-menu-buttons-wrapper {
    margin: 10px 15px;
  }

  .burger-menu-buttons-wrapper a {
    padding: 8px;
  }

  .burger-menu-buttons-wrapper a li {
    font-size: 16px;
  }
}

@media screen and (max-height: 500px) {
  .burger-menu-buttons-wrapper {
    margin: 5px 10px;
  }

  .burger-menu-buttons-wrapper a {
    padding: 6px;
  }

  .burger-menu-buttons-wrapper a li {
    font-size: 14px;
  }
}
