.whole-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-wrapper {
  background: rgba(35, 35, 35, 1);
  display: flex;
  color: white;
  padding: 30px 50px;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  width: 100%;
}

.HeaderMiddleContainer {
  display: flex;
  align-items: center;
  gap: 150px;
}

.navbar-buttons-wrapper {
  display: flex;
  gap: 30px;
}

.navbar-buttons-wrapper li {
  margin-top: 7px;
  list-style: none;
  position: relative;
}

.navbar-buttons-wrapper li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: -3px;
  transition: width 0.4s ease-in-out;
  border-radius: 5px;
}

.navbar-buttons-wrapper li a {
  font-size: 16px;
  font-weight: 550;
  font-family: "NinoMtavruli", sans-serif;
  line-height: 22px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.navbar-buttons-wrapper li:hover::after {
  width: 100%;
}

.navbar-buttons-wrapper li.active::after {
  width: 100%;
}

.navbar-wrapper .HeaderMiddleContainer .HeaderMiddleContainerInput form {
  background: rgba(255, 255, 255, 1);
  width: 450px;
  padding: 12px 17px;
  display: flex;
  align-items: center;
  gap: 9px;
  border-radius: 50px;
}

.HeaderLogoContainer img {
  cursor: pointer;
}

.HeaderMiddleContainerInput form input {
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-weight: 400;
  line-height: 18px;
  outline: none;
}

.HeaderMiddleContainerInput form button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.HeaderMiddleContainerInput form button svg {
  color: rgba(0, 0, 0, 0.5);
}

.HeaderLeftContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}

.HeaderLeftContainer a {
  display: flex;
  gap: 3px;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.HeaderLeftContainer div {
  display: flex;
  gap: 3px;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.HeaderLeftContainer a h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -3%;
  color: rgba(255, 255, 255, 1);
}

.HeaderLeftContainer div h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -3%;
  color: rgba(255, 255, 255, 1);
}

.HeaderLeftContainer div svg {
  margin-left: 4px;
}

.cart-items-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  font-size: 12px;
  transform: translate(11px, -10px);
}

/* Responsive hidden icons styles */

.responsive-icons-wrapper {
  display: flex;
  gap: 10px;
}

.responsive-icons-wrapper button {
  background-color: transparent;
  border: 0;
}

.responsive-burger-icon,
.responsive-search-icon {
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}

.responsive-search-bar {
  position: absolute;
  width: 100%;
  height: 56px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  gap: 9px;
  background-color: white;
  margin-top: 2px;
  transition: transform 2s;
}

.responsive-search-bar input {
  width: 100%;
  height: 47px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-weight: 400;
  line-height: 18px;
  outline: none;
}

.responsive-search-bar button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.responsive-search-bar button svg {
  width: 28px;
  height: 28px;
}

/* Responsive navbar */

@media screen and (max-width: 1500px) {
  .HeaderMiddleContainer {
    gap: 80px;
  }

  .HeaderMiddleContainerInput form {
    width: 280px !important;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-wrapper {
    gap: 70px;
  }

  .HeaderMiddleContainer {
    gap: 50px;
  }

  .HeaderMiddleContainerInput form {
    width: 220px !important;
  }
}

@media screen and (max-width: 1100px) {
  .navbar-buttons-wrapper {
    gap: 14px;
  }

  .HeaderMiddleContainerInput form {
    width: 200px !important;
  }

  .navbar-buttons-wrapper li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-wrapper {
    height: 60px;
  }

  .HeaderLeftContainer a svg {
    width: 32px;
    height: 32px;
  }

  .HeaderLeftContainer div svg {
    width: 32px;
    height: 32px;
  }

  .cart-items-number {
    transform: translate(15px, -7px);
  }
}

@media screen and (max-width: 510px) {
  .navbar-wrapper {
    padding: 0 10px;
    gap: 30px;
  }

  .responsive-burger-icon,
  .responsive-search-icon {
    min-width: 22px;
    min-height: 22px;
  }

  .HeaderLeftContainer {
    gap: 7px;
  }

  .HeaderLeftContainer a svg {
    width: 22px;
    height: 22px;
  }

  .HeaderLeftContainer div svg {
    width: 22px;
    height: 22px;
  }

  .cart-items-number {
    width: 15px;
    height: 15px;
    font-size: 8px;
    transform: translate(12px, -7px);
  }
}
