.PartneryCompanyContainer {
  display: flex;
  justify-content: space-between;
  padding: 24px 50px;
  background-color: #c7f9cc;
  align-items: center;
}

.PartneryCompanyContainer .PartnerImg {
  background-color: #c7f9cc;
}
