.clothes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 26px;
  border-bottom: 3px solid #ebd96b;
  padding-bottom: 30px;
  margin-bottom: 25px;
}

.clothes-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.prev-button,
.next-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: #ebd96b;
  margin: 0 80px;
}

.prev-button svg,
.next-button svg {
  width: 40px;
  height: 40px;
}

.prev-button:disabled,
.next-button:disabled {
  color: rgb(206, 206, 206);
}

.pagination-number {
  font-size: 15px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border: 1px solid #ebd96b;
  background-color: transparent;
  cursor: pointer;
}

.pagination-number.active {
  background-color: #ebd96b;
  cursor: auto;
}

@media screen and (max-width: 1100px) {
  .clothes-list {
    justify-content: center;
  }

  .prev-button,
  .next-button {
    margin: 0 40px;
  }

  .prev-button svg,
  .next-button svg {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .prev-button {
    margin-right: 20px;
  }

  .next-button {
    margin-left: 20px;
  }
}
